@font-face {
    font-family: 'Humanoidstraight';
    src: url('Humanoidstraight.eot');
    src: url('Humanoidstraight.eot?#iefix') format('embedded-opentype'),
        url('Humanoidstraight.woff2') format('woff2'),
        url('Humanoidstraight.woff') format('woff'),
        url('Humanoidstraight.ttf') format('truetype'),
        url('Humanoidstraight.svg#Humanoidstraight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BloxBRK';
    src: url('BloxBRK.eot');
    src: url('BloxBRK.eot?#iefix') format('embedded-opentype'),
        url('BloxBRK.woff2') format('woff2'),
        url('BloxBRK.woff') format('woff'),
        url('BloxBRK.ttf') format('truetype'),
        url('BloxBRK.svg#BloxBRK') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelSix01';
    src: url('PixelSix01.eot');
    src: url('PixelSix01.eot?#iefix') format('embedded-opentype'),
        url('PixelSix01.woff2') format('woff2'),
        url('PixelSix01.woff') format('woff'),
        url('PixelSix01.ttf') format('truetype'),
        url('PixelSix01.svg#PixelSix01') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixel';
    src: url('Pixel.eot');
    src: url('Pixel.eot?#iefix') format('embedded-opentype'),
        url('Pixel.woff2') format('woff2'),
        url('Pixel.woff') format('woff'),
        url('Pixel.ttf') format('truetype'),
        url('Pixel.svg#Pixel') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arcade';
    src: url('Arcade.eot');
    src: url('Arcade.eot?#iefix') format('embedded-opentype'),
        url('Arcade.woff2') format('woff2'),
        url('Arcade.woff') format('woff'),
        url('Arcade.ttf') format('truetype'),
        url('Arcade.svg#Arcade') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OrangeKid-Regular';
    src: url('OrangeKid-Regular.eot');
    src: url('OrangeKid-Regular.eot?#iefix') format('embedded-opentype'),
        url('OrangeKid-Regular.woff2') format('woff2'),
        url('OrangeKid-Regular.woff') format('woff'),
        url('OrangeKid-Regular.ttf') format('truetype'),
        url('OrangeKid-Regular.svg#OrangeKid-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humanoid';
    src: url('Humanoid.eot');
    src: url('Humanoid.eot?#iefix') format('embedded-opentype'),
        url('Humanoid.woff2') format('woff2'),
        url('Humanoid.woff') format('woff'),
        url('Humanoid.ttf') format('truetype'),
        url('Humanoid.svg#Humanoid') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KongtextRegular';
    src: url('KongtextRegular.eot');
    src: url('KongtextRegular.eot?#iefix') format('embedded-opentype'),
        url('KongtextRegular.woff2') format('woff2'),
        url('KongtextRegular.woff') format('woff'),
        url('KongtextRegular.ttf') format('truetype'),
        url('KongtextRegular.svg#KongtextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MobileFont';
    src: url('MobileFont.eot');
    src: url('MobileFont.eot?#iefix') format('embedded-opentype'),
        url('MobileFont.woff2') format('woff2'),
        url('MobileFont.woff') format('woff'),
        url('MobileFont.ttf') format('truetype'),
        url('MobileFont.svg#MobileFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LotsOfDotz';
    src: url('LotsOfDotz.eot');
    src: url('LotsOfDotz.eot?#iefix') format('embedded-opentype'),
        url('LotsOfDotz.woff2') format('woff2'),
        url('LotsOfDotz.woff') format('woff'),
        url('LotsOfDotz.ttf') format('truetype'),
        url('LotsOfDotz.svg#LotsOfDotz') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelCowboy';
    src: url('PixelCowboy.eot');
    src: url('PixelCowboy.eot?#iefix') format('embedded-opentype'),
        url('PixelCowboy.woff2') format('woff2'),
        url('PixelCowboy.woff') format('woff'),
        url('PixelCowboy.ttf') format('truetype'),
        url('PixelCowboy.svg#PixelCowboy') format('svg');
    font-weight: normal;
    font-style: normal;
}

