@font-face {
	font-family: 'humanoidstraight';
	src: url('../font/humanoidstraight.eot');
	src: url('../font/humanoidstraight.eot?#iefix') format('embedded-opentype'),
	url('../font/humanoidstraight.woff2') format('woff2'),
	url('../font/humanoidstraight.woff') format('woff'),
	url('../font/humanoidstraight.ttf') format('truetype'),
	url('../font/humanoidstraight.svg#humanoidstraight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bloxbrk';
	src: url('../font/bloxbrk.eot');
	src: url('../font/bloxbrk.eot?#iefix') format('embedded-opentype'),
	url('../font/bloxbrk.woff2') format('woff2'),
	url('../font/bloxbrk.woff') format('woff'),
	url('../font/bloxbrk.ttf') format('truetype'),
	url('../font/bloxbrk.svg#bloxbrk') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pixelsix01';
	src: url('../font/pixelsix01.eot');
	src: url('../font/pixelsix01.eot?#iefix') format('embedded-opentype'),
	url('../font/pixelsix01.woff2') format('woff2'),
	url('../font/pixelsix01.woff') format('woff'),
	url('../font/pixelsix01.ttf') format('truetype'),
	url('../font/pixelsix01.svg#pixelsix01') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pixel';
	src: url('../font/pixel.eot');
	src: url('../font/pixel.eot?#iefix') format('embedded-opentype'),
	url('../font/pixel.woff2') format('woff2'),
	url('../font/pixel.woff') format('woff'),
	url('../font/pixel.ttf') format('truetype'),
	url('../font/pixel.svg#pixel') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arcade';
	src: url('../font/arcade.eot');
	src: url('../font/arcade.eot?#iefix') format('embedded-opentype'),
	url('../font/arcade.woff2') format('woff2'),
	url('../font/arcade.woff') format('woff'),
	url('../font/arcade.ttf') format('truetype'),
	url('../font/arcade.svg#arcade') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'orangekidregular';
	src: url('../font/orangekidregular.eot');
	src: url('../font/orangekidregular.eot?#iefix') format('embedded-opentype'),
	url('../font/orangekidregular.woff2') format('woff2'),
	url('../font/orangekidregular.woff') format('woff'),
	url('../font/orangekidregular.ttf') format('truetype'),
	url('../font/orangekidregular.svg#orangekidregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'humanoid';
	src: url('../font/humanoid.eot');
	src: url('../font/humanoid.eot?#iefix') format('embedded-opentype'),
	url('../font/humanoid.woff2') format('woff2'),
	url('../font/humanoid.woff') format('woff'),
	url('../font/humanoid.ttf') format('truetype'),
	url('../font/humanoid.svg#humanoid') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kongtextregular';
	src: url('../font/kongtextregular.eot');
	src: url('../font/kongtextregular.eot?#iefix') format('embedded-opentype'),
	url('../font/kongtextregular.woff2') format('woff2'),
	url('../font/kongtextregular.woff') format('woff'),
	url('../font/kongtextregular.ttf') format('truetype'),
	url('../font/kongtextregular.svg#kongtextregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mobilefont';
	src: url('../font/mobilefont.eot');
	src: url('../font/mobilefont.eot?#iefix') format('embedded-opentype'),
	url('../font/mobilefont.woff2') format('woff2'),
	url('../font/mobilefont.woff') format('woff'),
	url('../font/mobilefont.ttf') format('truetype'),
	url('../font/mobilefont.svg#mobilefont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lotsofdotz';
	src: url('../font/lotsofdotz.eot');
	src: url('../font/lotsofdotz.eot?#iefix') format('embedded-opentype'),
	url('../font/lotsofdotz.woff2') format('woff2'),
	url('../font/lotsofdotz.woff') format('woff'),
	url('../font/lotsofdotz.ttf') format('truetype'),
	url('../font/lotsofdotz.svg#lotsofdotz') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pixelcowboy';
	src: url('../font/pixelcowboy.eot');
	src: url('../font/pixelcowboy.eot?#iefix') format('embedded-opentype'),
	url('../font/pixelcowboy.woff2') format('woff2'),
	url('../font/pixelcowboy.woff') format('woff'),
	url('../font/pixelcowboy.ttf') format('truetype'),
	url('../font/pixelcowboy.svg#pixelcowboy') format('svg');
	font-weight: normal;
	font-style: normal;
}

