$relative: relative;
$white: #fff;

@mixin absolute {
	position: absolute;
}

@mixin transition($type, $time) {
	transition: $type $time ease-in-out;
}

@keyframes octoCat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

.logo-scene-container {
	height: 60%;
	width: 60%;

	.logo-area img {
		@include absolute;

		top: 0;
		left: 0;
		width: 25%;
	}

	.brand-name-area {
		font-family: 'arcade', Helvetica, sans-serif;
		color: $white;
		line-height: initial;
		font-size: 50px;
		bottom: 0;
		right: 0;
	}

	.background-area {
		background-color: #FC0000;
	}
}

.button {
	display: inline-block;
	padding: 5px 10px;
	background-color: #7f85a7;
	color: $white;
	cursor: pointer;

	@include transition(background-color, 0.1s);

	&:hover {
		background-color: #444b73;
	}
}

.properties-container {
	width: 300px;
}

.github-ribbon {
	@include absolute;
	
	height: 50px;
    left: 0;
    top: 0;

	&:hover {
		.octo-arm {
			animation: none;
		}
	}

	.octo-arm {
		animation: octoCat-wave 500ms ease-in-out;
	}

	svg {
		fill: #009688;
		color: #fff;
		height: 100%;
		border: 0;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
}

#newLogo {
	display: none;
}

.border-top {
	border-top: 1px solid #dee2e6;
}

.border-left {
	border-left: 1px solid #dee2e6;
}

.vh-100 {
	height: 100vh;
}

.overflow-hidden {
	overflow: hidden;
}

.p-relative {
	position: $relative;
}

.p-absolute {
	@include absolute;
}

.overflow-y-auto {
	overflow-y: auto;
}
