.logo-scene-container {
    height: 60%;
    width: 60%;
}

.logo-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.background-area {
    background-color: rgb(94, 172, 236);
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}
