.logo-scene-container {
    height: 60%;
    width: 60%;
}

.logo-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
}

.brand-name-area {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 50px;
    bottom: 0;
    right: 0;
}

.background-area {
    background-color: #FC0000;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}
